<launch>
  <arg name="use_sim_time" default="false"/>
  <arg name="use_hcdf" default="false"/>

  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen" if="$(var use_hcdf)">
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="robot_description" value="$(command 'cat $(find-pkg-share genbu_description)/urdf/robot.hcdf.urdf')"/>
  </node>

  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen" unless="$(var use_hcdf)">
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="robot_description" value="$(command 'xacro $(find-pkg-share genbu_description)/urdf/robot.urdf.xacro')"/>
  </node>
</launch>
