<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rplidar">
  <xacro:macro name="rplidar" params="parent:=base_link xyz:='0 0 0' rpy:='0 0 0'">
  <xacro:property name="mesh_file" value="file://$(find genbu_description)/meshes/rplidar_a1m8.dae"/>

    <!-- Base of the RPLIDAR (below the center of the motor) -->
    <link name="rplidar_base_link">
      <visual>
        <geometry>
          <mesh filename="${mesh_file}" scale="1 1 1"/>
        </geometry>
      </visual>
    </link>
    <joint name="rplidar_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="rplidar_base_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <!-- Laser link (position of the laser sensor ) -->
    <link name="rplidar_laser_link">
    </link>
    <joint name="rplidar_laser_joint" type="fixed">
      <parent link="rplidar_base_link"/>
      <child link="rplidar_laser_link"/>
      <origin xyz="-0.0455 0 0.042" rpy="0 0 0"/>
    </joint>

    <!-- Gazebo lidar sensor at the laser link -->
    <gazebo reference="rplidar_laser_link">
      <sensor name="lidar" type="gpu_lidar">
        <update_rate>5.5</update_rate>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>/scan</topic>
        <gz_frame_id>rplidar_laser_link</gz_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159265</min_angle>
              <max_angle>3.14159265</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.15</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
