.wy-nav-content-wrap {
  max-width: none;
}

.wy-nav-content {
  max-width: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #b6bcc6;
  padding: 10px;
  vertical-align: top;
}

th {
  background: #eef1f5;
}
